
.pagination{
  margin-top: 50px;
 
}
.page-link{
  padding: 30px;
  color: var(--mainColer) !important;
}

.page-item{
  padding-left: 10px; 
}
/* img{
  width: 250px !important;
  height: 250px !important;
} */

h6{
  font-size: 20px !important;
  font-family: 'Roboto Serif', serif;
}
.card img{
  width: 100%;
  height: 100%;
  object-fit:contain;
 
  }
.dimention{
  height: 300px;
  overflow: hidden;
 
}
.cardBody{
  height: 200px;
  margin: 10px;
  padding-left: 10px;
  overflow: hidden;
 
}