.profile{
   
    display: flex;
    gap:50px;
}
.profile nav{
    padding-top: 20px;
    background-color:   rgb(134, 134, 139);
    height:calc(100vh - 101.88px) ;
    width: 300px;
    flex-direction: column;
    gap:15px;
    display: flex;
    align-items: center;
    font-size: 20px;
   
    
}
.profile nav a{
    text-decoration: none;
    color: white;
}

